{% extends "layout.html" %}
{% block body %}
<section class="next-part--1">
    <div class="container">
        <div class="row u-margin-bottom">
            <div class="content no-margin-top">
                <h1 class="content__heading">
                    Android Based Products</h1><br><br>
            </div>
            <div class="col-10">
                <table>
                    <!-- Rows -->
                    <tr>
                        <td>Stereo imaging android app</td>
                        <td><a href="/contact-us" class="btn btn-crimson">Check</a></td>
                    </tr>
                    <tr>
                        <td>Alternate imaging android app for high speed imaging</td>
                        <td><a href="/contact-us" class="btn btn-crimson">Check</a></td>
                    </tr>
                    <tr>
                        <td>Android apps for testing and measurement</td>
                        <td><a href="/contact-us" class="btn btn-crimson">Check</a></td>
                    </tr>
                </table>
            </div>
        </div><br><br>
    </div>
</section>
{% endblock %}