{% extends "layout.html" %}
{% block body %}
<section class="next-part--1">
    <div class="container">
        <div class="row u-margin-bottom">
            <div class="content no-margin-top">
                <h1 class="content__heading">
                    Lasers </h1><br><br>
            </div>
            <div style="padding: 20px;" class="col-12">
                <table>
                    <tr>
                        <td>Laser Diodes 514-532 nm, 476-488 nm, 488-514 nm</td>
                        <td><a href="/contact-us" class="btn btn-crimson">Check</a></td>
                    </tr>
                    <tr>
                        <td>Laser Diodes driver modules ns, ps, ms</td>
                        <td><a href="/contact-us" class="btn btn-crimson">Check</a></td>
                    </tr>
                    <tr>
                        <td>Laser based stroboscopes</td>
                        <td><a href="/contact-us" class="btn btn-crimson">Check</a></td>
                    </tr>
                    <tr>
                        <td>LED based stroboscopes</td>
                        <td><a href="/contact-us" class="btn btn-crimson">Check</a></td>
                    </tr>
                </table>
            </div>
        </div><br><br>
    </div>
</section>
{% endblock %}